<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Regression suite 1">
	<listeners>
		<listener
			class-name="com.test.automation.FMSV12_Japan.customListener.Listener"></listener>
		<listener
			class-name="com.test.automation.FMSV12_Japan.customListener.RetryListener"></listener>
	</listeners>


	<test name="ChromeBrowser">
	    <parameter name="Browser_Name" value="chrome"></parameter>     
		<classes>   
		<!--
		    <class
				name="com.test.automation.FMSV12_Japan.loginpage.TC001_Verifylogin" />   
	    	<class
				name="com.test.automation.FMSV12_Japan.loginpage.TC002_VerifyLoginPageMeikoLogo" /> 
			<class
				name="com.test.automation.FMSV12_Japan.loginpage.TC003_VerfyingSubmitButtonColorCode" />
			<class
				name="com.test.automation.FMSV12_Japan.loginpage.TC004_VerfiyForgotPassword" />
			<class
				name="com.test.automation.FMSV12_Japan.loginpage.TC005_VerifyingSubmitButtonColorAfterClick" />	 
			<class 
			    name="com.test.automation.FMSV12_Japan.dashboard.TC101_VerifyUserProfile_ChangePassword"/>  
			<class 
			    name="com.test.automation.FMSV12_Japan.dashboard.TC102_VerifyUserprofile_ContactUs"/> 
			<class 
			    name="com.test.automation.FMSV12_Japan.dashboard.TC103_VerifyUserProfile_Help"/>     	
			<class 
			    name="com.test.automation.FMSV12_Japan.dashboard.TC104_Verify_UserProfileMenu"/> 
			<class
			    name="com.test.automation.FMSV12_Japan.dashboard.TC105_VerifyingDashboardLogo"/> 
			<class 
			    name="com.test.automation.FMSV12_Japan.dashboard.TC106_VerifyManangementDashboardCheckbox"/> 
			<class
			    name="com.test.automation.FMSV12_Japan.dashboard.TC107_VerifyingVehicleStatusReport"/> 
		    <class 
			    name="com.test.automation.FMSV12_Japan.dashboard.TC108_VerifyingStateOfVehicle_Moving"/>
		    <class 
			    name="com.test.automation.FMSV12_Japan.dashboard.TC109_VerifyStateOfVehicle_Stopped"/> 
			<class 
			    name="com.test.automation.FMSV12_Japan.dashboard.TC110_VerifyStateOfVehicle_Idle"/> 
			<class 
			    name="com.test.automation.FMSV12_Japan.dashboard.TC111_VerifyStateOfVehicle_Inactive"/> 
			<class 
			    name="com.test.automation.FMSV12_Japan.dashboard.TC112_VerifyStateOfVehicle_OutOfService"/>
			<class 
			    name="com.test.automation.FMSV12_Japan.dashboard.TC113_VerifyStateOfVehicle_NotPolling"/>
			<class
			    name="com.test.automation.FMSV12_Japan.vehiclereports.TC201_VerifyActivityReport"/> 
			<class
			    name="com.test.automation.FMSV12_Japan.vehiclereports.TC202_VerifyActivitySummaryReport"/> 
			<class
			    name="com.test.automation.FMSV12_Japan.vehiclereports.TC203_VerifyIdleReport"/> 
			<class
			    name="com.test.automation.FMSV12_Japan.vehiclereports.TC204_VerifyTotalDistanceReport"/> -->
			  
	     	
			  
		</classes>

	</test>
	<test name="FirefoxBrowser">
		<parameter name="Browser_Name" value="firefox"></parameter>
		<classes>
		<!--<class
				name="com.test.automation.FMSV12_Japan.loginpage.TC001_Verifylogin" /> 
			 <class
				name="com.test.automation.FMSV12_Japan.loginpage.TC002_VerifyLoginPageMeikoLogo" /> 
			<class
				name="com.test.automation.FMSV12_Japan.loginpage.TC003_VerfyingSubmitButtonColorCode" />
			<class
				name="com.test.automation.FMSV12_Japan.loginpage.TC004_VerfiyForgotPassword" />
			<class
				name="com.test.automation.FMSV12_Japan.loginpage.TC005_VerifyingSubmitButtonColorAfterClick" />	 
			<class 
			    name="com.test.automation.FMSV12_Japan.dashboard.TC101_VerifyUserProfile_ChangePassword"/> 
	    	<class 
			    name="com.test.automation.FMSV12_Japan.dashboard.TC102_VerifyUserprofile_ContactUs"/> 
			<class 
			    name="com.test.automation.FMSV12_Japan.dashboard.TC103_VerifyUserProfile_Help"/> 
			<class 
			    name="com.test.automation.FMSV12_Japan.dashboard.TC104_Verify_UserProfileMenu"/> 
			<class
			    name="com.test.automation.FMSV12_Japan.dashboard.TC105_VerifyingDashboardLogo"/> 
			<class 
			    name="com.test.automation.FMSV12_Japan.dashboard.TC106_VerifyingStateOfVehicle"/> 
			<class
			    name="com.test.automation.FMSV12_Japan.dashboard.TC107_VerifyingVehicleStatusReport"/> 
			<class
			    name="com.test.automation.FMSV12_Japan.vehiclereports.TC201_VerifyActivityReport"/> 
			<class
			    name="com.test.automation.FMSV12_Japan.vehiclereports.TC202_VerifyActivitySummaryReport"/> 
			<class
			    name="com.test.automation.FMSV12_Japan.vehiclereports.TC203_VerifyIdleReport"/> 
			<class
			    name="com.test.automation.FMSV12_Japan.vehiclereports.TC204_VerifyTotalDistanceReport"/> -->
		</classes>
	</test>

	<test name="IEBrowser">
		<parameter name="Browser_Name" value="IE"></parameter>
		<classes>
		<!--<class
				name="com.test.automation.FMSV12_Japan.loginpage.TC001_Verifylogin" /> 
			 <class
				name="com.test.automation.FMSV12_Japan.loginpage.TC002_VerifyLoginPageMeikoLogo" /> 
			<class
				name="com.test.automation.FMSV12_Japan.loginpage.TC003_VerfyingSubmitButtonColorCode" />
			<class
				name="com.test.automation.FMSV12_Japan.loginpage.TC004_VerfiyForgotPassword" />
			<class
				name="com.test.automation.FMSV12_Japan.loginpage.TC005_VerifyingSubmitButtonColorAfterClick" />	 
			<class 
			    name="com.test.automation.FMSV12_Japan.dashboard.TC101_VerifyUserProfile_ChangePassword"/> 
	    	<class 
			    name="com.test.automation.FMSV12_Japan.dashboard.TC102_VerifyUserprofile_ContactUs"/> 
			<class 
			    name="com.test.automation.FMSV12_Japan.dashboard.TC103_VerifyUserProfile_Help"/> 
			<class 
			    name="com.test.automation.FMSV12_Japan.dashboard.TC104_Verify_UserProfileMenu"/> 
			<class
			    name="com.test.automation.FMSV12_Japan.dashboard.TC105_VerifyingDashboardLogo"/> 
			<class 
			    name="com.test.automation.FMSV12_Japan.dashboard.TC106_VerifyingStateOfVehicle"/> 
			<class
			    name="com.test.automation.FMSV12_Japan.dashboard.TC107_VerifyingVehicleStatusReport"/> 
			<class
			    name="com.test.automation.FMSV12_Japan.vehiclereports.TC201_VerifyActivityReport"/> 
			<class
			    name="com.test.automation.FMSV12_Japan.vehiclereports.TC202_VerifyActivitySummaryReport"/> 
			<class
			    name="com.test.automation.FMSV12_Japan.vehiclereports.TC203_VerifyIdleReport"/> 
			<class
			    name="com.test.automation.FMSV12_Japan.vehiclereports.TC204_VerifyTotalDistanceReport"/> -->
		</classes>
	</test>



</suite>
